<div class="timeline">

  <div *ngFor="let a of audits" class="timeline-item">

    <!-- ICON -->
    <div class="icon">
      <mat-icon>
        {{ getIcon(a.action) }}
      </mat-icon>
    </div>

    <!-- CONTENT -->
    <div class="content">

      <!-- ACTION TITLE -->
      <div class="title" [class.create]="a.action === 'CREATE'" [class.update]="a.action === 'UPDATE'"
        [class.delete]="a.action === 'SOFT_DELETE' || a.action === 'HARD_DELETE'"
        [class.restore]="a.action === 'RESTORE'"
        [class.security]="a.action === 'PASSWORD_CHANGE_BLOCKED' || a.action === 'FORCED_LOGOUT_ALL'">
        {{ displayAction(a.action) }}
      </div>

      <!-- META -->
      <div class="meta">
        {{ a.timestamp | date:'medium' }} — {{ a.performedByUsername }}
      </div>

      <!-- FIELD CHANGE -->
      <div class="change" *ngIf="a.fieldChanged">
        <strong>{{ a.fieldChanged }}</strong>:
        {{ a.oldValue || '—' }} → {{ a.newValue || '—' }}
      </div>

      <!-- REASON -->
      <div class="reason" *ngIf="a.reason">
        {{ a.reason }}
      </div>

    </div>

  </div>

  <!-- EMPTY STATE -->
  <div *ngIf="!audits.length" class="muted">
    No audit records
  </div>

</div>