<form [formGroup]="form" class="variant-grid">

    <mat-form-field appearance="fill">

        <mat-label>
            Classification
        </mat-label>

        <input matInput formControlName="
        classification
      " />

    </mat-form-field>

    <mat-form-field appearance="fill">

        <mat-label>
            SKU
        </mat-label>

        <input matInput formControlName="
        sku
      " />

    </mat-form-field>

    <mat-form-field appearance="fill">

        <mat-label>
            Barcode
        </mat-label>

        <input matInput formControlName="
        barcode
      " />

    </mat-form-field>

</form>