<div class="pricing-shell">

    <div *ngFor="
      let row of rows.controls
    " [formGroup]="row" class="pricing-row">

        <div class="packaging-name">

            {{
            row.get(
            'packagingName'
            )?.value
            }}

        </div>

        <mat-form-field appearance="fill">

            <mat-label>
                Selling Price
            </mat-label>

            <input matInput type="number" formControlName="
          sellingPrice
        " />

        </mat-form-field>

    </div>

</div>