:host {
  display: block;
  height: 100%;
}

/* Sidebar sizing helper */
.sidebar {
  width: 16rem; /* expanded default */
}
.sidebar-collapsed {
  width: 4rem !important;
}
.sidebar-expanded {
  width: 16rem !important;
}

/* ensure main area shrinks correctly */
main {
  min-width: 0;
}

.bread-crumb-title {
  display: none;
}

app-breadcrumb {
  border-bottom: 1px solid rgba(0, 0, 0, 0.28) !important;
}