<div class="flex h-screen overflow-hidden">

  <!-- SIDEBAR -->
  <aside
    class="sidebar transition-all duration-300 flex-shrink-0"
    [class.sidebar-collapsed]="sidebar.isCollapsed$ | async"
    [class.sidebar-expanded]="!(sidebar.isCollapsed$ | async)"
  >
    <app-sidebar></app-sidebar>
  </aside>

  <!-- MAIN -->
  <div class="flex flex-col flex-1 overflow-hidden min-w-0">

    <!-- TOPBAR -->
    <header class="bg-white dark:bg-gray-800 border-b border-gray-200 dark:border-gray-700">
      <app-topbar></app-topbar>
    </header>
    <div class="flex flex-col">
      <!-- <div class="bread-crumb-title text-lg font-medium hidden sm:block">{{ currentPage }}</div> -->
      <app-breadcrumb></app-breadcrumb>
    </div>

    <!-- CONTENT -->
    <main class="flex-1 overflow-y-auto p-6 transition-colors bg-[var(--app-bg)]">
      <router-outlet></router-outlet>
    </main>

  </div>

</div>