<div class="app-layout" *ngIf="vm$ | async as vm">

  <!-- MOBILE BACKDROP -->

  <div *ngIf="vm.mobileOpen" class="sidebar-backdrop" (click)="sidebar.closeMobile()">
  </div>

  <!-- SIDEBAR -->

  <aside class="sidebar" [class.sidebar-collapsed]="
      vm.collapsed &&
      !vm.railExpanded
    " [class.sidebar-collapsed-expanded]="
      vm.collapsed &&
      vm.railExpanded
    " [class.sidebar-expanded]="
      !vm.collapsed
    " [class.sidebar-mobile-open]="
      vm.mobileOpen
    ">

    <app-sidebar></app-sidebar>

  </aside>

  <!-- MAIN -->

  <div class="layout-main">

    <!-- TOPBAR -->

    <header class="layout-topbar">
      <app-topbar></app-topbar>
    </header>

    <!-- BREADCRUMB -->

    <section class="layout-breadcrumb">
      <app-breadcrumb></app-breadcrumb>
    </section>

    <!-- CONTENT -->

    <main class="layout-content">

      <div class="layout-content-inner">
        <router-outlet></router-outlet>
      </div>

    </main>

  </div>

</div>