<form
  [formGroup]="form"
  (keydown.enter)="$event.stopPropagation()">

  <app-bulk-import-shell
    [title]="config.title"
    [rowCount]="rowCount"
    [submitting]="submitting"
    [formInvalid]="form.invalid"
    [loading]="submitting || loading"
    [progress]="progress"

    (importCsv)="importCsv($event)"
    (importExcel)="importExcel($event)"
    (downloadCsv)="downloadCsvTemplate()"
    (downloadExcel)="downloadExcelTemplate()"
    (submit)="submit()"
    (cancel)="close()"

    (goToLine)="goToLine($event)"
    (goTop)="scrollToTop()"
    (goBottom)="scrollToBottom()"
    (prevError)="goToPreviousError()"
    (nextError)="goToNextError()"
    (clearAll)="clearRows()"
    (exportCsv)="exportCsvCurrentRows()"
    (exportExcel)="exportExcelCurrentRows()">

    <div class="customers-body">

      <div bulk-options>
        <mat-checkbox formControlName="dryRun">
          Dry run (validate only, do not save)
        </mat-checkbox>
      </div>

      <div class="rows" formArrayName="rows">

        <div
          class="row-card"
          *ngFor="let r of rows.controls; let i = index"
          [formGroupName]="i">

          <div class="row-header">
            <span>Customer {{ i + 1 }}</span>
            <button mat-icon-button color="warn" (click)="removeRow(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

          <div class="grid-3">
            <mat-form-field>
              <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Phones" formControlName="phones">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Emails" formControlName="emails">
            </mat-form-field>
          </div>

          <div class="grid-3">
            <mat-form-field>
              <mat-select formControlName="type">
                <mat-option value="INDIVIDUAL">INDIVIDUAL</mat-option>
                <mat-option value="COMPANY">COMPANY</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select formControlName="gender">
                <mat-option value="">N/A</mat-option>
                <mat-option value="MALE">MALE</mat-option>
                <mat-option value="FEMALE">FEMALE</mat-option>
                <mat-option value="OTHER">OTHER</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Address" formControlName="address">
            </mat-form-field>
          </div>

          <mat-form-field>
            <input matInput placeholder="Notes" formControlName="notes">
          </mat-form-field>

          <div class="row-error" *ngIf="r.value._error">
            {{ r.value._error }}
          </div>

        </div>
      </div>

      <button mat-stroked-button (click)="addRow()">
        + Add Customer
      </button>

      <div #bottomAnchor></div>

    </div>
  </app-bulk-import-shell>
</form>