<div class="conversion-table">

    <div class="header">
        Packaging Conversion Matrix
    </div>

    <div class="empty" *ngIf="!packaging.length">

        No packaging configured.

    </div>

    <div class="conversion-cards" *ngIf="packaging.length">

        <div class="conversion-card" *ngFor="let p of packaging">

            <div class="title">
                {{ p.name }}
            </div>

            <div class="row">

                <span class="label">
                    Units
                </span>

                <span class="value">
                    {{ p.unitsPerPackaging }}
                </span>

            </div>

            <div class="row">

                <span class="label">
                    Conversion
                </span>

                <span class="value">

                    1 {{ p.name }}
                    =
                    {{ p.unitsPerPackaging }}
                    base units

                </span>

            </div>

        </div>

    </div>

</div>