<div class="overflow-x-auto">
  <table class="w-full text-left">
    <thead>
      <tr class="text-xs text-gray-500 uppercase">
        <th class="py-2 pr-4">Time</th>
        <th class="py-2 pr-4">Type</th>
        <th class="py-2 pr-4">Description</th>
        <th class="py-2 pr-4">Actor</th>
      </tr>
    </thead>
    <tbody class="divide-y">
      <tr *ngFor="let a of activities" class="hover:bg-gray-50 dark:hover:bg-gray-700">
        <td class="py-3 text-sm text-gray-600 dark:text-gray-300">{{ a.time }}</td>
        <td class="py-3 text-sm font-medium">{{ a.type }}</td>
        <td class="py-3 text-sm text-gray-700 dark:text-gray-200">{{ a.description }}</td>
        <td class="py-3 text-sm text-gray-500">{{ a.actor }}</td>
      </tr>
    </tbody>
  </table>
</div>