<form
  [formGroup]="form"
  (keydown.enter)="$event.stopPropagation()">

  <app-bulk-import-shell
    [title]="config.title"
    [rowCount]="rowCount"
    [submitting]="submitting"
    [formInvalid]="form.invalid"
    [loading]="submitting || loading"
    [progress]="progress"

    (importCsv)="importCsv($event)"
    (importExcel)="importExcel($event)"
    (downloadCsv)="downloadCsvTemplate()"
    (downloadExcel)="downloadExcelTemplate()"
    (submit)="submit()"
    (cancel)="close()"

    (goToLine)="goToLine($event)"
    (goTop)="scrollToTop()"
    (goBottom)="scrollToBottom()"
    (prevError)="goToPreviousError()"
    (nextError)="goToNextError()"
    (clearAll)="clearRows()"
    (exportCsv)="exportCsvCurrentRows()"
    (exportExcel)="exportExcelCurrentRows()">

    <div class="users-body">

      <div bulk-options class="grid-2">
        <mat-checkbox formControlName="dryRun">
          Dry run (validate only)
        </mat-checkbox>
      </div>

      <div class="rows" formArrayName="rows">

        <div
          class="row-card"
          *ngFor="let r of rows.controls; let i = index"
          [formGroupName]="i">

          <div class="row-header">
            <span>User {{ i + 1 }}</span>
            <button mat-icon-button color="warn" (click)="removeRow(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

          <div class="grid-3">
            <mat-form-field>
              <input matInput placeholder="Username" formControlName="username">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Password" formControlName="password">
            </mat-form-field>

            <mat-form-field>
              <mat-select formControlName="role">
                <mat-option value="EMPLOYEE">EMPLOYEE</mat-option>
                <mat-option value="SUPERVISOR">SUPERVISOR</mat-option>
                <mat-option value="MANAGER">MANAGER</mat-option>
                <mat-option value="ADMIN">ADMIN</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="grid-2">
            <mat-form-field>
              <input matInput placeholder="Emails" formControlName="emails">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Phones" formControlName="phones">
            </mat-form-field>
          </div>

          <div *ngIf="!hideOrgFields" class="grid-3">
            <mat-form-field>
              <mat-select formControlName="branchCode">
                <mat-option value="">Auto</mat-option>
                <mat-option *ngFor="let b of branches" [value]="b.branchCode">
                  {{ b.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select formControlName="departmentName">
                <mat-option value="">Auto</mat-option>
                <mat-option *ngFor="let d of departments" [value]="d.name">
                  {{ d.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select formControlName="position">
                <mat-option value="member">Member</mat-option>
                <mat-option value="head">Head</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="row-error" *ngIf="r.value._error">
            {{ r.value._error }}
          </div>

        </div>
      </div>

      <button mat-stroked-button (click)="addRow()">
        + Add User
      </button>

      <div #bottomAnchor></div>

    </div>
  </app-bulk-import-shell>
</form>