.chart-wrapper {
  width: 100%;
  height: 100%;
}

.empty {
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  color: var(--text-secondary);
}