/* Reduce excessive space under mat-form-field */
mat-form-field {
  margin-bottom: 10px !important;
}

/* Reduce textarea padding and spacing */
mat-form-field textarea {
  margin-bottom: 0 !important;
  padding: 6px !important;
  line-height: 1.3;
}

/* Make the form fields compact */
::ng-deep .mat-mdc-form-field-subscript-wrapper {
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}
