mat-form-field {
  width: 100%;
}

.mat-mdc-form-field-infix {
  min-width: 0; // allow flex/grid to control width
}

input,
mat-select {
  white-space: nowrap;
}

.cursor-pointer {
  cursor: pointer;
}

mat-form-field:hover input[readonly] {
  background-color: rgba(0, 0, 0, 0.03);
}