.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.preview {
  display: flex;
  justify-content: center;

  img {
    max-width: 100%;
    max-height: 250px;
    border-radius: 4px;
    border: 1px solid var(--border);
  }
}

.full {
  width: 100%;
}