// .supplier-block {
//   display: flex;
//   flex-direction: column;
//   gap: 1rem;

//   padding: 1rem 1.25rem;

//   border-radius: 6px;
// //   background: rgba(0, 122, 255, 0.04);
// //   border: 1px solid rgba(0, 122, 255, 0.15);
// }

// // body.dark .supplier-block {
// // //   background: rgba(59, 130, 246, 0.08);
// // //   border-color: rgba(59, 130, 246, 0.25);
// // }
