<div class="flex h-screen overflow-hidden">

  <aside class="sidebar" [class.sidebar-collapsed]="sidebar.isCollapsed$ | async"
    [class.sidebar-expanded]="!(sidebar.isCollapsed$ | async)">

    <app-platform-sidebar>
    </app-platform-sidebar>

  </aside>

  <div *ngIf="!(sidebar.isCollapsed$ | async)" class="sidebar-backdrop" (click)="sidebar.toggle()">
  </div>

  <div class="flex flex-col flex-1 min-w-0">

    <header>
      <app-platform-topbar>
      </app-platform-topbar>
    </header>

    <app-breadcrumb>
    </app-breadcrumb>

    <main>
      <router-outlet>
      </router-outlet>
    </main>

  </div>

</div>